# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
dist
release
tmp
backend/*.db
backend/*.db*
python/akshare_service/build
python/akshare_service/dist
python/akshare_service/*.spec
electron/bin/akshare_service
electron/bin/akshare_service.exe
